@font-face {
  font-family: 'silka';
  font-style: normal;
  font-weight: 400;
  src: url('SilkaRegular.otf');
}
@font-face {
  font-family: 'silka';
  font-style: normal;
  font-weight: 500;
  src: url('SilkaMedium.otf');
}
@font-face {
  font-family: 'silka';
  font-style: normal;
  font-weight: 600;
  src: url('SilkaSemiBold.otf');
}
@font-face {
  font-family: 'silka';
  font-style: normal;
  font-weight: 700;
  src: url('SilkaBold.otf');
}