<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no">
  <title>
    Vation
  </title>
  <meta property="og:type" content="website" /> 
  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <!--[if IE 6]><![endif]-->
  <!--[if IE 7]><![endif]-->
  <!--[if IE 8]><![endif]-->
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,700i,800" rel="stylesheet"> -->
  <link rel="stylesheet" media="screen" href="lib/element-2.2.0/index.css">
  <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_1534136_tlejimga9jc.css">
  <link rel="stylesheet" href="lib/style.css">
  <!-- import element CSS -->
  <!-- <link rel="stylesheet" href="<%= Setting.jscdn %>/element-ui@2.9.1/lib/theme-chalk/index.css">  -->
</head>
<body>
  <div id="yimi">
    <div class="navigation">
      <p class="time" id="time">{{ time }}</p>
      <i class="yimi yi_wifi"></i>
      <p id="title" class="nav_title" style="margin-top:44px">艺米</p>
    </div>
     <div class="container" class="container" style="margin-top: 88px; margin-bottom: 83px;">
      <el-scrollbar>
    <mt-tab-container v-model="selected" >
      <mt-tab-container-item id="home">
        <div class="banner_swipe_box">
          <mt-swipe :auto="2000">
            <mt-swipe-item>
              <img class="slide-image" mode="widthFix" src="http://assets.atart.cn/banner_ad.jpg?imageView2/1/w/690/h/370/q/75" />
            </mt-swipe-item>
            <mt-swipe-item>
              <img class="slide-image" mode="widthFix" src="http://assets.atart.cn/banner_price.jpg?imageView2/1/w/690/h/370/q/75" />
            </mt-swipe-item>
          </mt-swipe>
          <div class="service_tips">
            <div>
              <i class="yimi yi_tip"></i>
              <p>仅收取销售额的 1%</p>
            </div>
            <div>
              <i class="yimi yi_tip"></i>
              <p>无任何附加费用</p>
            </div>
            <div>
              <i class="yimi yi_tip"></i>
              <p>万幅IP随意用</p>
            </div>
          </div>
        </div>
        <div class="ad_box">
          <img class="sloan_image" src="lib/images/slogan_home.svg" mode="widthFix"/>
          <div class="ad_items">
            <div class="quote">
              <p class="ad_title">授权费用</p>
              <p class="quote_value">1%</p>
              <p class="quote_info">仅收取销售额的 1% 做为授权费</p>
              <img class="quote_bg" src="lib/images/quote_bg.jpg" style="height: 130px;" />
            </div>
            <a class="artist" herf="#">
              <p class="ad_title">今日艺术家</p>
              <img class="artist_avatar" src="http://assets.atart.cn/avatar/3/86823087f953e0f5f06ab61555e79ba7.jpg?imageView2/1/w/160/h/160/q/75"  mode="widthFix"/>
              <img class="artist_bg" src="lib/images/artist_bg.jpg" mode="widthFix"/>
            </a>
            <div class="vip" bindtap="call">
              <img class="vip_icon" src="lib/images/vip_icon.svg" mode="widthFix"/>
              <div class="vip_tip">
                <p class="ad_title">VIP专属通道</p>
                <p>高效快捷，一对一贴心服务</p>
              </div>
              <p class="vip_btn">马上开通</p>
            </div>
          </div>
        </div>
        <div class="copyright_list">
          <a href="#" class="search_bar">
            <i class="yimi yi_search"></i>
            <span>搜索艺术IP</span>
          </a>
          <mt-navbar v-model="actived">
            <mt-tab-item id="1">全部</mt-tab-item>
            <mt-tab-item id="2">现代</mt-tab-item>
            <mt-tab-item id="3">古典</mt-tab-item>
            <mt-tab-item id="4">抽象</mt-tab-item>
            <mt-tab-item id="5">卡通</mt-tab-item>
          </mt-navbar>
          <mt-tab-container v-model="actived">
            <mt-tab-container-item id="1">
              <div class="tab_item even">
                <a href="#" class="copy_item">
                  <img src="http://assets.atart.cn/item/cover/8/5fd239c4211fe2580b301d5be807b3ba.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>常智飞 | 精怪彩绘系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
              <div class="tab_item">
                <a href="#" class="copy_item">
                  <img src="http://assets.atart.cn/item/cover/1/0d41c2fdfaa37c71deb0124e2e434fcc.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>王挣 | 卡通波普系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
              <div class="tab_item even">
                <a href="#" class="copy_item">
                  <img src="http://assets.atart.cn/item/cover/36/6687ef23c1f825150d8af3391e35e88d.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>汪培利 | 仿古山水系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
              <div class="tab_item">
                <a href="#" class="copy_item">
                  <img src="http://assets.atart.cn/item/cover/35/da260164a9413e8f42db7f78c66eaa1c.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>汪培利 | 二十四节气系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
              <div class="tab_item even">
                <a href="#" class="copy_item">
                  <img src="http://assets.atart.cn/item/cover/26/16f786fbe9488e68a8ca69e34c5e0afd.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>高润生 | 场景描绘系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
            </mt-tab-container-item>
            <mt-tab-container-item id="2">
              <div class="tab_item even">
                <a href="#" class="copy_item">
                  <img src="http://assets.atart.cn/item/cover/36/6687ef23c1f825150d8af3391e35e88d.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>汪培利 | 仿古山水系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
              <div class="tab_item">
                <a href="#" class="copy_item">
                  <img src="http://assets.atart.cn/item/cover/35/da260164a9413e8f42db7f78c66eaa1c.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>汪培利 | 二十四节气系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
              <div class="tab_item even">
                <a href="#" class="copy_item">
                  <img src="http://assets.atart.cn/item/cover/26/16f786fbe9488e68a8ca69e34c5e0afd.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>高润生 | 场景描绘系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
            </mt-tab-container-item>
            <mt-tab-container-item id="3">
              <div class="tab_item even">
                <a href="#" class="copy_item">
                  <img src="http://assets.atart.cn/item/cover/1/0d41c2fdfaa37c71deb0124e2e434fcc.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>王挣 | 卡通波普系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
              <div class="tab_item">
                <a href="#" class="copy_item">
                  <img src="http://assets.atart.cn/item/cover/36/6687ef23c1f825150d8af3391e35e88d.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>汪培利 | 仿古山水系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
              <div class="tab_item even">
                <a href="#" class="copy_item">
                  <img src="http://assets.atart.cn/item/cover/35/da260164a9413e8f42db7f78c66eaa1c.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>汪培利 | 二十四节气系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
              <div class="tab_item">
                <a href="#" class="copy_item">
                  <img src="http://assets.atart.cn/item/cover/26/16f786fbe9488e68a8ca69e34c5e0afd.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>高润生 | 场景描绘系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
            </mt-tab-container-item>
            <mt-tab-container-item id="4">
              <div class="empty_box">
                <img src="lib/images/empty.svg" alt="">
                <p>暂时没有数据</p>
              </div>
            </mt-tab-container-item>
            <mt-tab-container-item id="5">
              <div class="empty_box">
                <img src="lib/images/empty.svg" alt="">
                <p>暂时没有数据</p>
              </div>
            </mt-tab-container-item>
          </mt-tab-container>
        </div>
      </mt-tab-container-item>
      <mt-tab-container-item id="list">
        <div class="copyright_list">
          <a href="#" class="search_bar">
            <i class="yimi yi_search"></i>
            <span>搜索艺术IP</span>
          </a>
          <mt-navbar v-model="actived">
            <mt-tab-item id="1">全部</mt-tab-item>
            <mt-tab-item id="2">现代</mt-tab-item>
            <mt-tab-item id="3">古典</mt-tab-item>
            <mt-tab-item id="4">抽象</mt-tab-item>
            <mt-tab-item id="5">卡通</mt-tab-item>
          </mt-navbar>
          <mt-tab-container v-model="actived">
            <mt-tab-container-item id="1">
              <div class="tab_item even">
                <a href="#" class="copy_item">
                  <img src="http://assets.atart.cn/item/cover/8/5fd239c4211fe2580b301d5be807b3ba.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>常智飞 | 精怪彩绘系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
              <div class="tab_item">
                <a href="#" class="copy_item">
                  <img src="http://assets.atart.cn/item/cover/1/0d41c2fdfaa37c71deb0124e2e434fcc.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>王挣 | 卡通波普系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
              <div class="tab_item even">
                <a href="#" class="copy_item">
                  <img src="http://assets.atart.cn/item/cover/36/6687ef23c1f825150d8af3391e35e88d.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>汪培利 | 仿古山水系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
              <div class="tab_item">
                <a href="#" class="copy_item">
                  <img src="http://assets.atart.cn/item/cover/35/da260164a9413e8f42db7f78c66eaa1c.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>汪培利 | 二十四节气系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
              <div class="tab_item even">
                <a href="#" class="copy_item">
                  <img src="http://assets.atart.cn/item/cover/26/16f786fbe9488e68a8ca69e34c5e0afd.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>高润生 | 场景描绘系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
            </mt-tab-container-item>
            <mt-tab-container-item id="2">
              <div class="tab_item even">
                <a href="#" class="copy_item">
                  <img src="http://assets.atart.cn/item/cover/36/6687ef23c1f825150d8af3391e35e88d.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>汪培利 | 仿古山水系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
              <div class="tab_item">
                <a href="#" class="copy_item">
                  <img src="http://assets.atart.cn/item/cover/35/da260164a9413e8f42db7f78c66eaa1c.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>汪培利 | 二十四节气系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
              <div class="tab_item even">
                <a href="#" class="copy_item">
                  <img src="http://assets.atart.cn/item/cover/26/16f786fbe9488e68a8ca69e34c5e0afd.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>高润生 | 场景描绘系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
            </mt-tab-container-item>
            <mt-tab-container-item id="3">
              <div class="tab_item even">
                <a href="#" class="copy_item">
                  <img src="http://assets.atart.cn/item/cover/1/0d41c2fdfaa37c71deb0124e2e434fcc.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>王挣 | 卡通波普系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
              <div class="tab_item">
                <a href="#" class="copy_item">
                  <img src="http://assets.atart.cn/item/cover/36/6687ef23c1f825150d8af3391e35e88d.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>汪培利 | 仿古山水系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
              <div class="tab_item even">
                <a href="#" class="copy_item">
                  <img src="http://assets.atart.cn/item/cover/35/da260164a9413e8f42db7f78c66eaa1c.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>汪培利 | 二十四节气系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
              <div class="tab_item">
                <a href="#" class="copy_item">
                  <img src="http://assets.atart.cn/item/cover/26/16f786fbe9488e68a8ca69e34c5e0afd.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>高润生 | 场景描绘系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
            </mt-tab-container-item>
            <mt-tab-container-item id="4">
              <div class="empty_box">
                <img src="lib/images/empty.svg" alt="">
                <p>暂时没有数据</p>
              </div>
            </mt-tab-container-item>
            <mt-tab-container-item id="5">
              <div class="empty_box">
                <img src="lib/images/empty.svg" alt="">
                <p>暂时没有数据</p>
              </div>
            </mt-tab-container-item>
          </mt-tab-container>
        </div>
      </mt-tab-container-item>
      <mt-tab-container-item id="case">
        <div class="copyright_list">
          <a href="#" class="search_bar">
            <i class="yimi yi_search"></i>
            <span>搜索艺术IP</span>
          </a>
          <div class="case_box">
            <a href="" class="case_item">
              <img src="http://assets.atart.cn/item/cover/21/f2aced2026197a63c8bcf8dd07f42273.jpg?imageView2/1/w/350/h/350/q/75" class="case_img" alt="">
            </a>
            <a href="" class="case_item">
              <img src="http://assets.atart.cn/item/cover/20/a0f3d55a4e33bfc17bdc772a48492925.jpg?imageView2/1/w/350/h/350/q/75" class="case_img" alt="">
            </a>
            <a href="" class="case_item">
              <img src="http://assets.atart.cn/item/cover/19/ccedd93868bbddf8354eb6c816b9086b.jpg?imageView2/1/w/350/h/350/q/75" class="case_img" alt="">
            </a>
            <a href="" class="case_item">
              <img src="http://assets.atart.cn/item/cover/18/ace66186868ed446b2d3b27fd99d69ee.jpg?imageView2/1/w/350/h/350/q/75" class="case_img" alt="">
            </a>
            <a href="" class="case_item">
              <img src="http://assets.atart.cn/item/cover/17/2452f6e27ff0e51e0f307a37a7cd5c43.jpg?imageView2/1/w/350/h/350/q/75" class="case_img" alt="">
            </a>
            <a href="" class="case_item">
              <img src="http://assets.atart.cn/item/cover/13/a83cc4122543d08c1d44005ea786f632.jpg?imageView2/1/w/350/h/350/q/75" class="case_img" alt="">
            </a>
            <a href="" class="case_item">
              <img src="http://assets.atart.cn/item/cover/12/5c68f8d6009260d632ef28c6d5b80c0b.jpg?imageView2/1/w/350/h/350/q/75" class="case_img" alt="">
            </a>
            <a href="" class="case_item">
              <img src="http://assets.atart.cn/item/cover/3/ad2fc4674d1eca4144a6e33eb1b472fe.jpg?imageView2/1/w/350/h/350/q/75" class="case_img" alt="">
            </a>
          </div>
        </div>
      </mt-tab-container-item>
      <mt-tab-container-item id="me">
        <div class="user_box">
          <img src="lib/images/avt.svg" alt="" class="user_avt">
          <p style="font-weight: 600;">Vation</p>
          <div class="user_his">
            <a class="his_link" href="#">我点赞的</a>
            <a class="his_link" href="#">我收藏的</a>
          </div>
        </div>
        <div class="handle_list_box">
          <a href="#" class="handle_item">
            <i class="yimi yi_money"></i>
            <p>我购买过的</p>
            <i class="yimi yi_right arr"></i>
          </a>
          <a href="#" class="handle_item">
            <i class="yimi yi_support"></i>
            <p>联系客服</p>
            <i class="yimi yi_right arr"></i>
          </a>
          <a href="#" class="handle_item">
            <i class="yimi yi_question"></i>
            <p>常见问题</p>
            <i class="yimi yi_right arr"></i>
          </a>
        </div>
      </mt-tab-container-item>
    </mt-tab-container>
    </el-scrollbar>
    </div>
    <!-- <div class="container" >
      <el-scrollbar>
        <div class="banner_swipe_box">
          <mt-swipe :auto="2000">
            <mt-swipe-item>
              <img class="slide-image" mode="widthFix" src="https://assets.atart.cn/banner_ad.jpg?imageView2/1/w/690/h/370/q/75" />
            </mt-swipe-item>
            <mt-swipe-item>
              <img class="slide-image" mode="widthFix" src="https://assets.atart.cn/banner_price.jpg?imageView2/1/w/690/h/370/q/75" />
            </mt-swipe-item>
          </mt-swipe>
          <div class="service_tips">
            <div>
              <i class="yimi yi_tip"></i>
              <p>仅收取销售额的 1%</p>
            </div>
            <div>
              <i class="yimi yi_tip"></i>
              <p>无任何附加费用</p>
            </div>
            <div>
              <i class="yimi yi_tip"></i>
              <p>万幅IP随意用</p>
            </div>
          </div>
        </div>
        <div class="ad_box">
          <img class="sloan_image" src="lib/images/slogan_home.svg" mode="widthFix"/>
          <div class="ad_items">
            <div class="quote">
              <p class="ad_title">授权费用</p>
              <p class="quote_value">1%</p>
              <p class="quote_info">仅收取销售额的 1% 做为授权费</p>
              <img class="quote_bg" src="lib/images/quote_bg.jpg" style="height: 130px;" />
            </div>
            <a class="artist" herf="#">
              <p class="ad_title">今日艺术家</p>
              <img class="artist_avatar" src="https://assets.atart.cn/avatar/3/86823087f953e0f5f06ab61555e79ba7.jpg?imageView2/1/w/160/h/160/q/75"  mode="widthFix"/>
              <img class="artist_bg" src="lib/images/artist_bg.jpg" mode="widthFix"/>
            </a>
            <div class="vip" bindtap="call">
              <img class="vip_icon" src="lib/images/vip_icon.svg" mode="widthFix"/>
              <div class="vip_tip">
                <p class="ad_title">VIP专属通道</p>
                <p>高效快捷，一对一贴心服务</p>
              </div>
              <p class="vip_btn">马上开通</p>
            </div>
          </div>
        </div>
        <div class="copyright_list">
          <a href="#" class="search_bar">
            <i class="yimi yi_search"></i>
            <span>搜索艺术IP</span>
          </a>
          <mt-navbar v-model="actived">
            <mt-tab-item id="1">全部</mt-tab-item>
            <mt-tab-item id="2">现代</mt-tab-item>
            <mt-tab-item id="3">古典</mt-tab-item>
            <mt-tab-item id="4">抽象</mt-tab-item>
            <mt-tab-item id="5">卡通</mt-tab-item>
          </mt-navbar>
          <mt-tab-container v-model="actived">
            <mt-tab-container-item id="1">
              <div class="tab_item even">
                <a href="#" class="copy_item">
                  <img src="https://assets.atart.cn/item/cover/8/5fd239c4211fe2580b301d5be807b3ba.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>常智飞 | 精怪彩绘系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
              <div class="tab_item">
                <a href="#" class="copy_item">
                  <img src="https://assets.atart.cn/item/cover/1/0d41c2fdfaa37c71deb0124e2e434fcc.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>王挣 | 卡通波普系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
              <div class="tab_item even">
                <a href="#" class="copy_item">
                  <img src="https://assets.atart.cn/item/cover/36/6687ef23c1f825150d8af3391e35e88d.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>汪培利 | 仿古山水系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
              <div class="tab_item">
                <a href="#" class="copy_item">
                  <img src="https://assets.atart.cn/item/cover/35/da260164a9413e8f42db7f78c66eaa1c.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>汪培利 | 二十四节气系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
              <div class="tab_item even">
                <a href="#" class="copy_item">
                  <img src="https://assets.atart.cn/item/cover/26/16f786fbe9488e68a8ca69e34c5e0afd.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>高润生 | 场景描绘系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
            </mt-tab-container-item>
            <mt-tab-container-item id="2">
              <div class="tab_item even">
                <a href="#" class="copy_item">
                  <img src="https://assets.atart.cn/item/cover/36/6687ef23c1f825150d8af3391e35e88d.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>汪培利 | 仿古山水系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
              <div class="tab_item">
                <a href="#" class="copy_item">
                  <img src="https://assets.atart.cn/item/cover/35/da260164a9413e8f42db7f78c66eaa1c.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>汪培利 | 二十四节气系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
              <div class="tab_item even">
                <a href="#" class="copy_item">
                  <img src="https://assets.atart.cn/item/cover/26/16f786fbe9488e68a8ca69e34c5e0afd.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>高润生 | 场景描绘系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
            </mt-tab-container-item>
            <mt-tab-container-item id="3">
              <div class="tab_item even">
                <a href="#" class="copy_item">
                  <img src="https://assets.atart.cn/item/cover/1/0d41c2fdfaa37c71deb0124e2e434fcc.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>王挣 | 卡通波普系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
              <div class="tab_item">
                <a href="#" class="copy_item">
                  <img src="https://assets.atart.cn/item/cover/36/6687ef23c1f825150d8af3391e35e88d.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>汪培利 | 仿古山水系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
              <div class="tab_item even">
                <a href="#" class="copy_item">
                  <img src="https://assets.atart.cn/item/cover/35/da260164a9413e8f42db7f78c66eaa1c.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>汪培利 | 二十四节气系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
              <div class="tab_item">
                <a href="#" class="copy_item">
                  <img src="https://assets.atart.cn/item/cover/26/16f786fbe9488e68a8ca69e34c5e0afd.jpg?imageView2/1/w/350/h/350/q/75" alt="" class="copyright_thumb" />
                  <p>高润生 | 场景描绘系列</p>
                  <h5>版权费 1%</h5>
                </a>
              </div>
            </mt-tab-container-item>
            <mt-tab-container-item id="4">
              <div class="empty_box">
                <img src="lib/images/empty.svg" alt="">
                <p>暂时没有数据</p>
              </div>
            </mt-tab-container-item>
            <mt-tab-container-item id="5">
              <div class="empty_box">
                <img src="lib/images/empty.svg" alt="">
                <p>暂时没有数据</p>
              </div>
            </mt-tab-container-item>
          </mt-tab-container>
        </div>
      </el-scrollbar>
    </div> -->
    
    <div class="tabbar">
      <mt-tabbar v-model="selected" class="item_box">
        <mt-tab-item id="home" class="tabbar_item" onclick="home()">
          <i class="yimi yi_home"></i>
          <p>首页</p>
        </mt-tab-item>
        <mt-tab-item id="list" class="tabbar_item" onclick="list()">
          <i class="yimi yi_list"></i>
          <p>分类</p>
        </mt-tab-item>
        <mt-tab-item id="case" class="tabbar_item" onclick="cases()">
          <i class="yimi yi_case"></i>
          <p>案例</p>
        </mt-tab-item>
        <mt-tab-item id="me" class="tabbar_item" onclick="me()">
          <i class="yimi yi_me"></i>
          <p>我</p>
        </mt-tab-item>
      </mt-tabbar>
      <div class="handlebar"></div>
    </div>
</div>
<script type="text/javascript" src="lib/vue-2.5.13/vue.js"></script>
<script src="lib/element-2.2.0/index.js"></script>
<script src="https://unpkg.com/mint-ui/lib/index.js"></script>
<script type="text/javascript">
  var yimi = new Vue({
    el: '#yimi',
    data: {
      time: '',
      selected: 'home',
      actived: '1'
    }
  });
  var timerID = setInterval(updateTime, 1000);
  updateTime();
  function updateTime() {
      var cd = new Date();
      yimi.time = zeroPadding(cd.getHours(), 2) + ':' + zeroPadding(cd.getMinutes(), 2);
  };
  function zeroPadding(num, digit) {
      var zero = '';
      for(var i = 0; i < digit; i++) {
          zero += '0';
      }
      return (zero + num).slice(-digit);
  };
  function home(){
    document.getElementById("title").innerHTML="首页";
  }
   function list(){
    document.getElementById("title").innerHTML="分类";
  }
   function cases(){
    document.getElementById("title").innerHTML="案例";
  }
   function me(){
    document.getElementById("title").innerHTML="我";
  }
</script>
</body>
</html>
